/* .colors {
    primary: #F46036; orange
    secondary: #F3B700; yellow
    background: #12100E; black
    text: #FFFDF7; white
} */

html {
    font-size: 16px;
}

body {
    background-color: #12100E;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #FFFDF7;
}
.navbar {
    width: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 0 auto;
}

.navbar-brand {
    color: #F46036;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.sub-brand {
    font-size: 1.0rem;
    margin: 0;
    padding: 0;
    display: block;
    line-height: 1.2;
}

.navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin-left: 1rem;
}

.navbar-link {
    color: #F46036;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color .3s;
}

.navbar-link:hover {
    background-color: #575757;
    border-radius: 0.3125rem;  
}


main {
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
}

.highlight {
    color: #F3B700;
}

.white-space {
    display: flex;
    justify-content: center;
    height: 6.25rem; 
}

.rose-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 5rem; 
    background-size: cover;
    background-position: center;
    height: 6.25rem; 
    width: 6.25rem;  
    opacity: 0.2;
    z-index: -1;
}



.container-works {
    display: flex;
    padding-left: 10%;  
    justify-content: left;
    align-items: center;
    width: 90%;  
    font-size: 2.5rem;  
    opacity: 0;
    transition: opacity 2s ease-out;
}

.container-works.visible {
    opacity: 1;
}

.underline-extended {
    display: inline-block; 
    position: relative; 
    padding-right: 50px;
}

.underline-extended:after {
    content: ''; 
    position: absolute; 
    left: 0; 
   right: -1000px;  /* this adjusts how long the line is */
    bottom: 0; 
    height: 2px; 
    background-color: #FFFDF7; 
    z-index: -1; 
}
 /* REMEMBER TO WRITE A SCRIPT TO FIND LENGTH OF LINE */
.about-line:after {
    right: -900px;
}

.social-line:after {
    right: -963px; 
}


.content {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    gap: 4rem;
}

.bio {
    flex: 1;
    padding-right: 10%;
    font-size: 1.5rem;
}

.profile-pic {
    flex: 0 0 18.75rem; 
    border-radius: 50%;
    overflow: hidden;
    width: 18.75rem;  
    height: 18.75rem; 
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

h1 {
    color: #F46036;
    text-align: center;
    margin-top: 50px;
}

.work {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
    padding: 4rem;
}

.work-image-wrapper {
   width: 28.125rem;
   height: 250px;
    overflow: hidden;
    border-radius: 10px;
    
}
.work-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0;
    transition: opacity 2s ease-out;
}

.work-image-wrapper.visible img {
    opacity: 1;
}


.work-title {
    font-size: 1.5rem;
    color: #F46036;
}

#aboutGrid {
    display: grid;
    margin: 0px 10%;
    min-height: 500px;
    height: 90vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "about aboutPic"
    "about aboutPic";
}

#about {
    grid-area: about;
    padding: 5rem;
    font-size: 1.5rem;
}

#aboutPic {
    grid-area: aboutPic;
    background-image: url(/assets/imgs/rose2flip.png);
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat;
    
}